<!doctype html>
<html lang="he" style="direction:rtl">

<head>
	<title>מחשבון אינסולין ב-Flask</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/iGC.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.gif') }}">
</head>

<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please upgrade
	your browser to improve your experience and security.</p>
<p class="browserupgrade">זהו דפדפן <strong>שפג תוקפו</strong>. נא לשדרג את הדפדפן לצורך הפעלה מוצלחת ומועילה.</p>
<![endif]-->
<div class="cItem">
	<a href="#">
		<h1>
			{% if g.user %}
				<b>{{ g.user['username'] }}</b>
			{% endif %}
		</h1>
	</a>
	<div class="flexDiv">
		{% block auth %}
		{% endblock %}
	</div>
</div>

<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
		<div class="flash authF" style="width: 100%" >{{ message }}</div>
	{% endfor %}
</section>
</body>



{% block content %}{% endblock %}

</html>