<!doctype html>
<html lang="he" style="direction:rtl">

<head>
	<title>מחשבון אינסולין ב-Flask</title>
	{#	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
	{#	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/iGC.css') }}"/>
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.gif') }}">
</head>

<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please upgrade
	your browser to improve your experience and security.</p>
<p class="browserupgrade">זהו דפדפן <strong>שפג תוקפו</strong>. נא לשדרג את הדפדפן לצורך הפעלה מוצלחת ומועילה.</p>
<![endif]-->

<div>
	<a href="#">
		<h1>&nbspמטופל&nbsp
			{% if g.user %}
				<b>{{ g.user['username'] }}</b>
			{% endif %}
		</h1>
	</a>
	<div>
		{% block auth %}
		{% endblock %}

				{#
				if not 'register' in self._TemplateReference__context.name %}
				<p><a href="{{ url_for('auth.register') }}" class="authF">הרשמה</a></p>
			{% endif %}
			{% if not 'login' in self._TemplateReference__context.name %}
				<p><a href="{{ url_for('auth.login') }}" class="authF">כניסה</a></p>
			{% endif %}
		{% endif %}

			{% if g.user %}
		{{ self._TemplateReference__context.name }}
		{% if 'index.html' == self._TemplateReference__context.name %}
			<p><a href="{{ url_for('auth.logout') }}" class="authF pinkOver">יציאה</a></p>
		{% endif %}
#}

	</div>
</div>

<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
		<div class="flash authF">{{ message }}</div>
	{% endfor %}
</section>
</body>

<style>
    .flexDiv {
        display: flex;
    }

    .authF {
        margin: 0;
        padding: 0.5vw 2vw;
        width: 100%;
        font-size: 8vw;
        text-align: center;
    }
</style>
{% block content %}{% endblock %}

</html>