{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}הרשמה{% endblock %}</h1>
{% endblock %}

{% block content %}
	{{ super() }}
	<style>
         .loginC {
	         width: 90vw;
             font-size: 7vw;
             display: inline-block;
	         text-align: center;
         }
	</style>
	<form method="post">
		<label for="username" class="loginC">שם משתמש</label>
		<input name="username" id="username" required class="loginC" autofocus>
		<label for="password" class="loginC">סיסמא</label>
		<input type="password" name="password" id="password" required class="loginC">
		<p></p>
		<input type="submit" value="כניסה" class="loginC">
	</form>

{% endblock %}