{% extends 'base.html' %}

{#{% block header %}
	<h1>{% block title %}זיהוי{% endblock %}</h1>
{% endblock %}#}

{% block auth %}
	<a href="{{ url_for('auth.register') }}" class="authF">הרשמה</a>
	<a href="{{ url_for('auth.logout') }}" class="authF pinkOver">יציאה</a>
{% endblock %}

{% block content %}
	<form method="post">
		<div class="flexDiv">
			<label for="username" class="authF labels">שם משתמש</label>
			<input name="username" id="username" required class="authF" autofocus>
		</div>
		<div class="flexDiv">
			<label for="password" class="authF labels">סיסמה</label>
			<input type="password" name="password" id="password" required class="authF">
		</div>
		<input type="submit" value="כניסה" class="authF">
	</form>
{% endblock %}