{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}הרשמה{% endblock %}</h1>
{% endblock %}

{% block auth %}
	<p><a href="{{ url_for('auth.login') }}" class="authF">כניסה</a></p>
	<p><a href="{{ url_for('auth.logout') }}" class="authF pinkOver">יציאה</a></p>
{% endblock %}

{% block content %}
	<form method="post">
		<div class="flexDiv">
			<label for="username" class="authF">שם משתמש</label>
			<input name="username" id="username" required class="authF" autofocus>
		</div>
		<div class="flexDiv">
			<label for="password" class="authF">סיסמה</label>
			<input type="password" name="password" id="password" required class="authF">
		</div>
		<input type="submit" value="להרשמה" class="authF">
	</form>
{% endblock %}